<div class="container">
    <h3>¿Como construimos los indicadores?</h3>
    <p>El indicador "costo promedio" se compone por la suma de todos los costos relevados por el MSP. Se ignoran aquellos asociados a ginecología y/o pediatría en caso de que el usuario así lo indique en el formulario y se ignoran también los costos no FONASA para usuarios que hayan marcado que son afiliados a FONASA en el formulario (o viceversa).</br>Los colores de la gráfica representan el costo promedio de distintos tipos de tickets y precios, agrupados de forma de simplificar al usuario.</p>
    <p>El cumplimiento de las metas asistenciales se expresa como porcentaje. En algunos casos la meta fijada por el MSP es inferior a 100%, este dato se puede obtener al posar el mouse sobre cada indicador.</p>
    <p>Los tiempos de espera promedio, según información brindada por el MSP, son cantidades de días que resultan del promedio de todos los tiempos de entrega de cita para las distintas especialidades descritas.</p>
    <p>En derechos de usuarios se expresa el porcentaje de usuarios a los que se le brindó información sobre sus derechos y quejas.</p>
    <p>El personal disponible se calcula por especialidad, cada 10.000 usuarios del prestador de salud.</p>
    </br>
    <p>En el caso de los prestadores de servicio que no brindaron datos al MSP o brindaron datos de forma parcial hemos decidido indicar que no han provisto datos con la sigla "s/d" (sin datos) y quedan excluídos del cálculo de los rankings.</br>Son mostrados al final de cada ranking con la información relevante.</br>Algunos indicadores proporcionados por el MSP no han sido incluidos por no considerarlos relevantes o no contener toda la información requerida.</p>
    <p><b>¿Dudas o sugerencias?</b> Nos encantaría conocerlas, por favor usá el formulario <a href="http://www.datauy.org/contacto/">en nuestro sitio web</a>.</p>
</div>
