<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <b class="pull-right" style="color: black;">Rank</b>
            <h4 class="panel-title"><%= posicion %> - <%= mutualista["NOMBRE"] %></h4>
        </div>
        <div class="panel-body">
            <div class="row Mb-10">
                <div class="col-xs-4 text-right"><b>Costo:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    12
                </div>
            </div>
            <div class="row Mb-10">
                <div class="col-xs-4 text-right"><b>Metas asistenciales:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    6
                </div>
            </div>
            <div class="row Mb-10">
                <div class="col-xs-4 text-right"><b>Tiempos de espera:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    4
                </div>
            </div>
            <div class="row Mb-10">
                <div class="col-xs-4 text-right"><b>Satisfación de usuarios:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    12
                </div>
            </div>
            <div class="row Mb-10">
                <div class="col-xs-4 text-right"><b>Personal disponible:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    30
                </div>
            </div>
            <div class="row Mb-10">
                <div class="col-xs-4 text-right"><b>Asignación de citas:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right"><b>Recordatorio consultas:</b></div>
                <div class="col-xs-7">
                    <div class="progress Mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 10%">10%</div>
                        <div class="progress-bar progress-bar-warning" style="width: 35%">35%</div>
                        <div class="progress-bar progress-bar-success" style="width: 20%">20%</div>
                        <div class="progress-bar progress-bar-info" style="width: 15%">15%</div>
                    </div>
                </div>
                <div class="col-xs-1 text-center">
                    
                </div>
            </div>
        </div>
    </div>
</div>